// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Robomail from "../../../index.js";

export declare namespace InboxesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InboxesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InboxesClient.Options>;

    constructor(options: InboxesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns all inboxes for the authenticated account, newest first.
     *
     * @param {Robomail.ListInboxesRequest} request
     * @param {InboxesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.BadRequestError}
     *
     * @example
     *     await client.inboxes.listInboxes()
     */
    public listInboxes(
        request: Robomail.ListInboxesRequest = {},
        requestOptions?: InboxesClient.RequestOptions,
    ): core.HttpResponsePromise<Robomail.InboxList> {
        return core.HttpResponsePromise.fromPromise(this.__listInboxes(request, requestOptions));
    }

    private async __listInboxes(
        request: Robomail.ListInboxesRequest = {},
        requestOptions?: InboxesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.InboxList>> {
        const { limit, starting_after: startingAfter, address } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            address,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                "v1/inboxes",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.InboxList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Robomail.BadRequestError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/inboxes");
    }

    /**
     * Provisions a new inbox (email address) for the authenticated account.
     *
     * @param {Robomail.CreateInboxRequest} request
     * @param {InboxesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.BadRequestError}
     * @throws {@link Robomail.ConflictError}
     *
     * @example
     *     await client.inboxes.createInbox({
     *         username: "alice",
     *         domain: "yourdomain.com"
     *     })
     */
    public createInbox(
        request: Robomail.CreateInboxRequest,
        requestOptions?: InboxesClient.RequestOptions,
    ): core.HttpResponsePromise<Robomail.Inbox> {
        return core.HttpResponsePromise.fromPromise(this.__createInbox(request, requestOptions));
    }

    private async __createInbox(
        request: Robomail.CreateInboxRequest,
        requestOptions?: InboxesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.Inbox>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                "v1/inboxes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.Inbox, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Robomail.BadRequestError(_response.error.body as Robomail.Error_, _response.rawResponse);
                case 409:
                    throw new Robomail.ConflictError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/inboxes");
    }

    /**
     * @param {Robomail.GetInboxRequest} request
     * @param {InboxesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.NotFoundError}
     *
     * @example
     *     await client.inboxes.getInbox({
     *         id: "id"
     *     })
     */
    public getInbox(
        request: Robomail.GetInboxRequest,
        requestOptions?: InboxesClient.RequestOptions,
    ): core.HttpResponsePromise<Robomail.Inbox> {
        return core.HttpResponsePromise.fromPromise(this.__getInbox(request, requestOptions));
    }

    private async __getInbox(
        request: Robomail.GetInboxRequest,
        requestOptions?: InboxesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.Inbox>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                `v1/inboxes/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.Inbox, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Robomail.NotFoundError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/inboxes/{id}");
    }

    /**
     * Hard-deletes the inbox and stops accepting mail at that address.
     *
     * @param {Robomail.DeleteInboxRequest} request
     * @param {InboxesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.NotFoundError}
     *
     * @example
     *     await client.inboxes.deleteInbox({
     *         id: "id"
     *     })
     */
    public deleteInbox(
        request: Robomail.DeleteInboxRequest,
        requestOptions?: InboxesClient.RequestOptions,
    ): core.HttpResponsePromise<Robomail.DeletedResource> {
        return core.HttpResponsePromise.fromPromise(this.__deleteInbox(request, requestOptions));
    }

    private async __deleteInbox(
        request: Robomail.DeleteInboxRequest,
        requestOptions?: InboxesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.DeletedResource>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                `v1/inboxes/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.DeletedResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Robomail.NotFoundError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/inboxes/{id}");
    }

    /**
     * Update display_name or metadata. Address is immutable.
     *
     * @param {Robomail.UpdateInboxRequest} request
     * @param {InboxesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.BadRequestError}
     * @throws {@link Robomail.NotFoundError}
     *
     * @example
     *     await client.inboxes.updateInbox({
     *         id: "id"
     *     })
     */
    public updateInbox(
        request: Robomail.UpdateInboxRequest,
        requestOptions?: InboxesClient.RequestOptions,
    ): core.HttpResponsePromise<Robomail.Inbox> {
        return core.HttpResponsePromise.fromPromise(this.__updateInbox(request, requestOptions));
    }

    private async __updateInbox(
        request: Robomail.UpdateInboxRequest,
        requestOptions?: InboxesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.Inbox>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                `v1/inboxes/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.Inbox, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Robomail.BadRequestError(_response.error.body as Robomail.Error_, _response.rawResponse);
                case 404:
                    throw new Robomail.NotFoundError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/inboxes/{id}");
    }
}
