// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentmailDemoApi from "../../../index.js";

export declare namespace InternalWebhooksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InternalWebhooksClient {
    protected readonly _options: NormalizedClientOptions<InternalWebhooksClient.Options>;

    constructor(options: InternalWebhooksClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Internal endpoint called by the inbound mail provider (e.g. CloudMailin) when external mail arrives at one of your inboxes. Verified via HMAC signature in the X-AgentMail-Signature header.
     *
     * @param {Record<string, unknown>} request
     * @param {InternalWebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.BadRequestError}
     * @throws {@link AgentmailDemoApi.UnauthorizedError}
     *
     * @example
     *     await client.internalWebhooks.receiveInboundMail({
     *         "key": "value"
     *     })
     */
    public receiveInboundMail(
        request: Record<string, unknown>,
        requestOptions?: InternalWebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.ReceiveInboundMailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__receiveInboundMail(request, requestOptions));
    }

    private async __receiveInboundMail(
        request: Record<string, unknown>,
        requestOptions?: InternalWebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.ReceiveInboundMailResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                "webhooks/inbound",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentmailDemoApi.ReceiveInboundMailResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentmailDemoApi.BadRequestError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentmailDemoApi.UnauthorizedError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/webhooks/inbound");
    }

    /**
     * Internal endpoint called by the outbound provider with delivery/bounce status updates.
     *
     * @param {Record<string, unknown>} request
     * @param {InternalWebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.BadRequestError}
     * @throws {@link AgentmailDemoApi.UnauthorizedError}
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.internalWebhooks.receiveOutboundStatus({
     *         "key": "value"
     *     })
     */
    public receiveOutboundStatus(
        request: Record<string, unknown>,
        requestOptions?: InternalWebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.ReceiveOutboundStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__receiveOutboundStatus(request, requestOptions));
    }

    private async __receiveOutboundStatus(
        request: Record<string, unknown>,
        requestOptions?: InternalWebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.ReceiveOutboundStatusResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                "webhooks/outbound-status",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentmailDemoApi.ReceiveOutboundStatusResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentmailDemoApi.BadRequestError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentmailDemoApi.UnauthorizedError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/webhooks/outbound-status");
    }
}
