"use strict";
// This file was auto-generated by Fern from our API Definition.
var __createBinding = (this && this.__createBinding) || (Object.create ? (function(o, m, k, k2) {
    if (k2 === undefined) k2 = k;
    var desc = Object.getOwnPropertyDescriptor(m, k);
    if (!desc || ("get" in desc ? !m.__esModule : desc.writable || desc.configurable)) {
      desc = { enumerable: true, get: function() { return m[k]; } };
    }
    Object.defineProperty(o, k2, desc);
}) : (function(o, m, k, k2) {
    if (k2 === undefined) k2 = k;
    o[k2] = m[k];
}));
var __setModuleDefault = (this && this.__setModuleDefault) || (Object.create ? (function(o, v) {
    Object.defineProperty(o, "default", { enumerable: true, value: v });
}) : function(o, v) {
    o["default"] = v;
});
var __importStar = (this && this.__importStar) || (function () {
    var ownKeys = function(o) {
        ownKeys = Object.getOwnPropertyNames || function (o) {
            var ar = [];
            for (var k in o) if (Object.prototype.hasOwnProperty.call(o, k)) ar[ar.length] = k;
            return ar;
        };
        return ownKeys(o);
    };
    return function (mod) {
        if (mod && mod.__esModule) return mod;
        var result = {};
        if (mod != null) for (var k = ownKeys(mod), i = 0; i < k.length; i++) if (k[i] !== "default") __createBinding(result, mod, k[i]);
        __setModuleDefault(result, mod);
        return result;
    };
})();
Object.defineProperty(exports, "__esModule", { value: true });
exports.InternalWebhooksClient = void 0;
const BaseClient_js_1 = require("../../../../BaseClient.js");
const headers_js_1 = require("../../../../core/headers.js");
const core = __importStar(require("../../../../core/index.js"));
const environments = __importStar(require("../../../../environments.js"));
const handleNonStatusCodeError_js_1 = require("../../../../errors/handleNonStatusCodeError.js");
const errors = __importStar(require("../../../../errors/index.js"));
const AgentmailDemoApi = __importStar(require("../../../index.js"));
class InternalWebhooksClient {
    constructor(options = {}) {
        this._options = (0, BaseClient_js_1.normalizeClientOptions)(options);
    }
    /**
     * Internal endpoint called by the inbound mail provider (e.g. CloudMailin) when external mail arrives at one of your inboxes. Verified via HMAC signature in the X-AgentMail-Signature header.
     *
     * @param {Record<string, unknown>} request
     * @param {InternalWebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.BadRequestError}
     * @throws {@link AgentmailDemoApi.UnauthorizedError}
     *
     * @example
     *     await client.internalWebhooks.receiveInboundMail({
     *         "key": "value"
     *     })
     */
    receiveInboundMail(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__receiveInboundMail(request, requestOptions));
    }
    async __receiveInboundMail(request, requestOptions) {
        const _headers = (0, headers_js_1.mergeHeaders)(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.AgentmailDemoApiEnvironment.Production, "webhooks/inbound"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentmailDemoApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new AgentmailDemoApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(_response.error, _response.rawResponse, "POST", "/webhooks/inbound");
    }
    /**
     * Internal endpoint called by the outbound provider with delivery/bounce status updates.
     *
     * @param {Record<string, unknown>} request
     * @param {InternalWebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.BadRequestError}
     * @throws {@link AgentmailDemoApi.UnauthorizedError}
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.internalWebhooks.receiveOutboundStatus({
     *         "key": "value"
     *     })
     */
    receiveOutboundStatus(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__receiveOutboundStatus(request, requestOptions));
    }
    async __receiveOutboundStatus(request, requestOptions) {
        const _headers = (0, headers_js_1.mergeHeaders)(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.AgentmailDemoApiEnvironment.Production, "webhooks/outbound-status"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentmailDemoApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new AgentmailDemoApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(_response.error, _response.rawResponse, "POST", "/webhooks/outbound-status");
    }
}
exports.InternalWebhooksClient = InternalWebhooksClient;
//# sourceMappingURL=Client.js.map