// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentmailDemoApi from "../../../index.js";

export declare namespace ThreadsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ThreadsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ThreadsClient.Options>;

    constructor(options: ThreadsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns threads for a given inbox, ordered by most recent activity.
     *
     * @param {AgentmailDemoApi.ListThreadsRequest} request
     * @param {ThreadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.BadRequestError}
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.threads.listThreads({
     *         inbox_email_address: "inbox_email_address"
     *     })
     */
    public listThreads(
        request: AgentmailDemoApi.ListThreadsRequest,
        requestOptions?: ThreadsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.ThreadList> {
        return core.HttpResponsePromise.fromPromise(this.__listThreads(request, requestOptions));
    }

    private async __listThreads(
        request: AgentmailDemoApi.ListThreadsRequest,
        requestOptions?: ThreadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.ThreadList>> {
        const { inbox_email_address: inboxEmailAddress, limit, starting_after: startingAfter, participant } = request;
        const _queryParams: Record<string, unknown> = {
            inbox_email_address: inboxEmailAddress,
            limit,
            starting_after: startingAfter,
            participant,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                "v1/threads",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentmailDemoApi.ThreadList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentmailDemoApi.BadRequestError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/threads");
    }

    /**
     * Retrieve a thread with all its messages.
     *
     * @param {AgentmailDemoApi.GetThreadRequest} request
     * @param {ThreadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.threads.getThread({
     *         id: "id"
     *     })
     */
    public getThread(
        request: AgentmailDemoApi.GetThreadRequest,
        requestOptions?: ThreadsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.Thread> {
        return core.HttpResponsePromise.fromPromise(this.__getThread(request, requestOptions));
    }

    private async __getThread(
        request: AgentmailDemoApi.GetThreadRequest,
        requestOptions?: ThreadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.Thread>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                `v1/threads/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentmailDemoApi.Thread, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/threads/{id}");
    }

    /**
     * Performs vector similarity search across thread messages using pgvector embeddings (Xenova/all-MiniLM-L6-v2). Requires embeddings to be enabled.
     *
     * @param {AgentmailDemoApi.SearchThreadsRequest} request
     * @param {ThreadsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.BadRequestError}
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.threads.searchThreads({
     *         query: "query"
     *     })
     */
    public searchThreads(
        request: AgentmailDemoApi.SearchThreadsRequest,
        requestOptions?: ThreadsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.ThreadSearchList> {
        return core.HttpResponsePromise.fromPromise(this.__searchThreads(request, requestOptions));
    }

    private async __searchThreads(
        request: AgentmailDemoApi.SearchThreadsRequest,
        requestOptions?: ThreadsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.ThreadSearchList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                "v1/threads/search",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentmailDemoApi.ThreadSearchList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentmailDemoApi.BadRequestError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/threads/search");
    }
}
