// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Robomail from "../../../index.js";

export declare namespace MetaClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MetaClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MetaClient.Options>;

    constructor(options: MetaClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Unauthenticated liveness probe.
     *
     * @param {MetaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.meta.getHealth()
     */
    public getHealth(requestOptions?: MetaClient.RequestOptions): core.HttpResponsePromise<Robomail.GetHealthResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getHealth(requestOptions));
    }

    private async __getHealth(
        requestOptions?: MetaClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.GetHealthResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                "health",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.GetHealthResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RobomailError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/health");
    }

    /**
     * Returns info about the authenticated account and API key.
     *
     * @param {MetaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.NotFoundError}
     *
     * @example
     *     await client.meta.getMe()
     */
    public getMe(requestOptions?: MetaClient.RequestOptions): core.HttpResponsePromise<Robomail.GetMeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getMe(requestOptions));
    }

    private async __getMe(
        requestOptions?: MetaClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.GetMeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                "v1/me",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.GetMeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Robomail.NotFoundError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/me");
    }
}
