// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Robomail from "../../../index.js";

export declare namespace MessagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MessagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MessagesClient.Options>;

    constructor(options: MessagesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List messages with optional filters. Returns newest first.
     *
     * @param {Robomail.ListMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.BadRequestError}
     * @throws {@link Robomail.NotFoundError}
     *
     * @example
     *     await client.messages.listMessages()
     */
    public listMessages(
        request: Robomail.ListMessagesRequest = {},
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<Robomail.MessageList> {
        return core.HttpResponsePromise.fromPromise(this.__listMessages(request, requestOptions));
    }

    private async __listMessages(
        request: Robomail.ListMessagesRequest = {},
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.MessageList>> {
        const {
            inbox_email_address: inboxEmailAddress,
            thread_id: threadId,
            direction,
            from: from_,
            to,
            limit,
            starting_after: startingAfter,
        } = request;
        const _queryParams: Record<string, unknown> = {
            inbox_email_address: inboxEmailAddress,
            thread_id: threadId,
            direction: direction != null ? direction : undefined,
            from: from_,
            to,
            limit,
            starting_after: startingAfter,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                "v1/messages",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.MessageList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Robomail.BadRequestError(_response.error.body as Robomail.Error_, _response.rawResponse);
                case 404:
                    throw new Robomail.NotFoundError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/messages");
    }

    /**
     * Send an outbound email. Creates a new thread unless in_reply_to_thread_id is provided, in which case the message is appended to that thread.
     *
     * @param {Robomail.SendMessageRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.BadRequestError}
     * @throws {@link Robomail.NotFoundError}
     *
     * @example
     *     await client.messages.sendMessage({
     *         inbox_email_address: "inbox_email_address",
     *         to: "to"
     *     })
     */
    public sendMessage(
        request: Robomail.SendMessageRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<Robomail.Message> {
        return core.HttpResponsePromise.fromPromise(this.__sendMessage(request, requestOptions));
    }

    private async __sendMessage(
        request: Robomail.SendMessageRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.Message>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                "v1/messages",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.Message, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Robomail.BadRequestError(_response.error.body as Robomail.Error_, _response.rawResponse);
                case 404:
                    throw new Robomail.NotFoundError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/messages");
    }

    /**
     * @param {Robomail.GetMessageRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.NotFoundError}
     *
     * @example
     *     await client.messages.getMessage({
     *         id: "id"
     *     })
     */
    public getMessage(
        request: Robomail.GetMessageRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<Robomail.Message> {
        return core.HttpResponsePromise.fromPromise(this.__getMessage(request, requestOptions));
    }

    private async __getMessage(
        request: Robomail.GetMessageRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Robomail.Message>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                `v1/messages/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Robomail.Message, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Robomail.NotFoundError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/messages/{id}");
    }

    /**
     * Returns the raw RFC 822 (.eml) source of a message.
     *
     * @param {Robomail.GetRawMessageRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Robomail.NotFoundError}
     *
     * @example
     *     await client.messages.getRawMessage({
     *         id: "id"
     *     })
     */
    public getRawMessage(
        request: Robomail.GetRawMessageRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__getRawMessage(request, requestOptions));
    }

    private async __getRawMessage(
        request: Robomail.GetRawMessageRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RobomailEnvironment.Production,
                `v1/messages/${core.url.encodePathParam(id)}/raw`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "text",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Robomail.NotFoundError(_response.error.body as Robomail.Error_, _response.rawResponse);
                default:
                    throw new errors.RobomailError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/messages/{id}/raw");
    }
}
