// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentmailDemoApi from "../../../index.js";

export declare namespace WebhookEndpointsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WebhookEndpointsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WebhookEndpointsClient.Options>;

    constructor(options: WebhookEndpointsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhookEndpoints.listWebhookEndpoints()
     */
    public listWebhookEndpoints(
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.WebhookEndpointList> {
        return core.HttpResponsePromise.fromPromise(this.__listWebhookEndpoints(requestOptions));
    }

    private async __listWebhookEndpoints(
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.WebhookEndpointList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                "v1/webhook_endpoints",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentmailDemoApi.WebhookEndpointList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentmailDemoApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/webhook_endpoints");
    }

    /**
     * Register a URL to receive event deliveries. The signing_secret is returned only on creation — store it securely.
     *
     * @param {AgentmailDemoApi.CreateWebhookEndpointRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.BadRequestError}
     *
     * @example
     *     await client.webhookEndpoints.createWebhookEndpoint({
     *         url: "url"
     *     })
     */
    public createWebhookEndpoint(
        request: AgentmailDemoApi.CreateWebhookEndpointRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.WebhookEndpointWithSecret> {
        return core.HttpResponsePromise.fromPromise(this.__createWebhookEndpoint(request, requestOptions));
    }

    private async __createWebhookEndpoint(
        request: AgentmailDemoApi.CreateWebhookEndpointRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.WebhookEndpointWithSecret>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                "v1/webhook_endpoints",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentmailDemoApi.WebhookEndpointWithSecret,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentmailDemoApi.BadRequestError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/webhook_endpoints");
    }

    /**
     * Returns the endpoint. signing_secret is NOT included.
     *
     * @param {AgentmailDemoApi.GetWebhookEndpointRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.webhookEndpoints.getWebhookEndpoint({
     *         id: "id"
     *     })
     */
    public getWebhookEndpoint(
        request: AgentmailDemoApi.GetWebhookEndpointRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.WebhookEndpoint> {
        return core.HttpResponsePromise.fromPromise(this.__getWebhookEndpoint(request, requestOptions));
    }

    private async __getWebhookEndpoint(
        request: AgentmailDemoApi.GetWebhookEndpointRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.WebhookEndpoint>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                `v1/webhook_endpoints/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentmailDemoApi.WebhookEndpoint, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/webhook_endpoints/{id}");
    }

    /**
     * @param {AgentmailDemoApi.DeleteWebhookEndpointRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.webhookEndpoints.deleteWebhookEndpoint({
     *         id: "id"
     *     })
     */
    public deleteWebhookEndpoint(
        request: AgentmailDemoApi.DeleteWebhookEndpointRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.DeletedResource> {
        return core.HttpResponsePromise.fromPromise(this.__deleteWebhookEndpoint(request, requestOptions));
    }

    private async __deleteWebhookEndpoint(
        request: AgentmailDemoApi.DeleteWebhookEndpointRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.DeletedResource>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                `v1/webhook_endpoints/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentmailDemoApi.DeletedResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/webhook_endpoints/{id}");
    }

    /**
     * @param {AgentmailDemoApi.UpdateWebhookEndpointRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.BadRequestError}
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.webhookEndpoints.updateWebhookEndpoint({
     *         id: "id"
     *     })
     */
    public updateWebhookEndpoint(
        request: AgentmailDemoApi.UpdateWebhookEndpointRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.WebhookEndpoint> {
        return core.HttpResponsePromise.fromPromise(this.__updateWebhookEndpoint(request, requestOptions));
    }

    private async __updateWebhookEndpoint(
        request: AgentmailDemoApi.UpdateWebhookEndpointRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.WebhookEndpoint>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                `v1/webhook_endpoints/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentmailDemoApi.WebhookEndpoint, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentmailDemoApi.BadRequestError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/webhook_endpoints/{id}");
    }

    /**
     * Generates a new signing secret. Returns the new value once — store it immediately.
     *
     * @param {AgentmailDemoApi.RotateWebhookSecretRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentmailDemoApi.NotFoundError}
     *
     * @example
     *     await client.webhookEndpoints.rotateWebhookSecret({
     *         id: "id"
     *     })
     */
    public rotateWebhookSecret(
        request: AgentmailDemoApi.RotateWebhookSecretRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentmailDemoApi.RotateWebhookSecretResponse> {
        return core.HttpResponsePromise.fromPromise(this.__rotateWebhookSecret(request, requestOptions));
    }

    private async __rotateWebhookSecret(
        request: AgentmailDemoApi.RotateWebhookSecretRequest,
        requestOptions?: WebhookEndpointsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentmailDemoApi.RotateWebhookSecretResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentmailDemoApiEnvironment.Production,
                `v1/webhook_endpoints/${core.url.encodePathParam(id)}/rotate_secret`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentmailDemoApi.RotateWebhookSecretResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new AgentmailDemoApi.NotFoundError(
                        _response.error.body as AgentmailDemoApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentmailDemoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/webhook_endpoints/{id}/rotate_secret",
        );
    }
}
